<style>
	main {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 3em;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>

<main>
	<slot></slot>
</main>