<script>
	import Files from '../components/Files.svelte';
	import Metric from '../components/Metric.svelte';
</script>

<style>
  .attribution {
    font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 0;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width: 375px) {
    div{
      display: flex;
      align-items: center;
      position: absolute;
    }
  }
</style>

<svelte:head>
  <title>Frontend Mentor | Fylo data storage component</title>
  <meta name="Description" content="Fylo data storage component made with Svelte/Sapper">
</svelte:head>
  <div>
    <Files />
    <Metric />
  </div>

<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
    Frontend Mentor
  </a>
  . Coded by
  <a href="https://gitlab.com/Leandropelegrini/">Leandro Pelegrini</a>
  .
</div>
