<style>
.wrapper{
    background-color: hsl(228, 56%, 26%);
    width: 340px;
    height: 180px;
    border-radius: 10px 90px 10px 10px;
}
.content{
    padding: 30px;
    margin-top: 10px;
}
.files{
    margin-top: 15px;
    background-color: hsl(229, 57%, 11%);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.icons-wrapper{
    display: flex;
    margin-top: 5px;

}
.icons{
    margin: 0 auto;
}
</style>

<div class="wrapper">
    <div class="content">
        <img src="logo.svg" alt="Logo Fylo">
        <div class="icons-wrapper">
            <div class="files">
                <img src="icon-document.svg" alt="Icon Document" class="icons" style="transform: translate(10px, 8px);">
            </div>
            <div class="files">
                <img src="icon-folder.svg" alt="Icon Folder" class="icons" style="transform: translate(8px, 10px);">
            </div>
            <div class="files">
                <img src="icon-upload.svg" alt="Icon Upload" class="icons" style="transform: translate(8px, 10px);">
            </div>
        </div>
    </div>
</div>