<script>
    const progress = 0.875;
</script>

<style>
  .wrapper {
    margin-top: 15px;
    background-color: hsl(228, 56%, 26%);
    width: 340px;
    height: 140px;
    border-radius: 10px;
    padding-top: 5px;
  }
  .progress-bar {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 1em;
    position: relative;
    border-radius: 20px;
    background-color: hsl(229, 57%, 11%);
  }
  .progress-bar::before {
    content: "";
    height: 0.75em;
    position: absolute;
    background-image: linear-gradient(
      90deg,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    top: 2px;
    border-radius: 20px;
    left: 2px;
    width: calc(var(--width, 0.045) * 98%);
  }
  .progress-bar::after {
    content: "";
    height: 0.65em;
    width: 0.65em;
    position: absolute;
    background-color: white;
    top: 3px;
    border-radius: 20px;
    left: calc(var(--width, 0.045) * 98% - 10px);
  }
  p {
    text-align: center;
  }
  .legenda {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: -10px auto;
    font-size: 0.8em;
  }
  .tooltip {
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    border: 2px solid hsl(229, 57%, 11%);
    padding: 0.7em;
    width: 150px;
    border-radius: 10px;
    margin: 10px auto;
    color: hsl(229, 7%, 55%);
    height: 70px;
  }
  .tooltip span {
    font-size: 3em;
    position: relative;
    top: 5px;
    color: hsl(229, 57%, 11%);
  }

  .tooltip p {
    top: -20px;
    position: relative;
  }

  @media (min-width: 375px) {
    .wrapper{
        margin-left: 15px;
        position: relative;
        top: 13px;
        width: 500px;
    }
    .tooltip{
        position: relative;
        top: -200px;
        left: 135px;
    }
    .tooltip::after{
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        bottom: -14.5px;
        border-left: 15px solid transparent;
        border-right: 15px solid white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        box-shadow: 2px 0px 0 hsl(229, 57%, 11%);
    }
    .used {
        text-align: start;
        margin: 40px 0px 0 30px;
  }
    .progress-bar {
    width: 440px;
    margin-top: 10px;
  }
    .legenda {
    width: 440px;
  }
  }


</style>

<div class="wrapper">
  <p class="used">
    You’ve used
    <strong>815 GB</strong>
    of your storage
  </p>
  <div class="progress-bar" style="--width: {progress}" />
  <div class="legenda">
    <p>0 GB</p>
    <p>1000 GB</p>
  </div>
  <div class="tooltip">
    <p>
      <span>185</span>
      GB Left
    </p>
  </div>
</div>
