@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	height: 100vh;
	color: hsl(243, 100%, 93%);
	background-image: url(bg-mobile.svg);
}


@media (min-width: 375px) {
	body {
		font-size: 16px;
		height: 100vh;
		width: 100%;
		background: url(bg-desktop.svg) hsl(229, 57%, 11%);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: bottom;
	}
}